################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Keno/bin/Debug/netcoreapp3.1
/Keno/.vs/Keno
/Keno/obj
